numpy<1.23
pandas
pillow
opencv-python
tqdm
fastapi>=0.100
uvicorn[standard]>=0.23
requests
supabase
httpx[http2]
pydantic>=2.0
python-dotenv
aiofiles
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
transformers>=4.30
safetensors>=0.3
